.container{
    display: inline-flex;
    padding: 5px;
    margin: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
button{
    border-radius: 25px;
    border-style: none;
    width: 200px;
    height: 40px;
}
#div1{
    border: 1px solid black;
    border-radius: 2px;
    padding: 5px;
    margin: 5px;
    height: 370px;
    width: 230px;
    text-align: center;
    color: black;
    background-color: white;
}
#div2{
    border: 1px solid deeppink;
    border-radius: 2px;
    padding: 5px;
    height: 370px;
    width: 230px;
    margin: 5px;
    text-align: center;
    color: white;
    background-color: deeppink;
}
#div3{
    border: 1px solid black;
    border-radius: 2px;
    padding: 5px;
    height: 370px;
    width: 230px;
    margin: 5px;
    color: black;
    text-align: center;
    background-color: white;
}
.but1{
    color: white;
    background-color: black;
}
.but2{
    color: deeppink;
    background-color: white;
}
.but3{
    color: white;
    background-color: black;
}
.fa-brands{
    font-size: 85px;
    padding-left: 40px;
    padding-top: 15px;
    padding-right: 40px;
}
#div1:hover{
    color: blueviolet;
    background-color: aqua;
}
#div3:hover{
    color: blueviolet;
    background-color: aqua;
}
#div2:hover{
    background-color: blanchedalmond;
    color: brown;
}
.but1:hover{
    background-color: burlywood;
    color: cadetblue;
}
.but2:hover{
    background-color: burlywood;
    color: cadetblue;
}
.but3:hover{
    background-color: burlywood;
    color: cadetblue;
}